BPEL/BPELModule/BpelModule02/src/DeliveryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rs.udc.es/delivery" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rs.udc.es/delivery" name="DeliveryProviderService">
<types>
<xsd:schema>
<xsd:import namespace="http://rs.udc.es/delivery" schemaLocation="http://localhost:7070/rs-deliveries-wscontrib/services/DeliveryService?xsd=1"/>
</xsd:schema>
</types>
<message name="createShipment">
<part name="parameters" element="tns:createShipment"/>
</message>
<message name="createShipmentResponse">
<part name="parameters" element="tns:createShipmentResponse"/>
</message>
<message name="DeliveryException">
<part name="fault" element="tns:DeliveryException"/>
</message>
<message name="findShipment">
<part name="parameters" element="tns:findShipment"/>
</message>
<message name="findShipmentResponse">
<part name="parameters" element="tns:findShipmentResponse"/>
</message>
<message name="changeStatus">
<part name="parameters" element="tns:changeStatus"/>
</message>
<message name="changeStatusResponse">
<part name="parameters" element="tns:changeStatusResponse"/>
</message>
<portType name="DeliveryProvider">
<operation name="createShipment">
<input wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/createShipmentRequest" message="tns:createShipment"/>
<output wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/createShipmentResponse" message="tns:createShipmentResponse"/>
<fault message="tns:DeliveryException" name="DeliveryException" wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/createShipment/Fault/DeliveryException"/>
</operation>
<operation name="findShipment">
<input wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/findShipmentRequest" message="tns:findShipment"/>
<output wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/findShipmentResponse" message="tns:findShipmentResponse"/>
<fault message="tns:DeliveryException" name="DeliveryException" wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/findShipment/Fault/DeliveryException"/>
</operation>
<operation name="changeStatus">
<input wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/changeStatusRequest" message="tns:changeStatus"/>
<output wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/changeStatusResponse" message="tns:changeStatusResponse"/>
<fault message="tns:DeliveryException" name="DeliveryException" wsam:Action="http://rs.udc.es/delivery/DeliveryProvider/changeStatus/Fault/DeliveryException"/>
</operation>
</portType>
<binding name="DeliveryProviderPortBinding" type="tns:DeliveryProvider">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createShipment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeliveryException">
<soap:fault name="DeliveryException" use="literal"/>
</fault>
</operation>
<operation name="findShipment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeliveryException">
<soap:fault name="DeliveryException" use="literal"/>
</fault>
</operation>
<operation name="changeStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeliveryException">
<soap:fault name="DeliveryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DeliveryProviderService">
<port name="DeliveryProviderPort" binding="tns:DeliveryProviderPortBinding">
<soap:address location="http://localhost:7070/rs-deliveries-wscontrib/services/DeliveryService"/>
</port>
</service>
</definitions>