BPEL/BPELModule/BpelModule02/src/RewardService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rs.udc.es/reward" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rs.udc.es/reward" name="RewardProviderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rs.udc.es/reward" schemaLocation="http://localhost:7070/rs-deliveries-wscontrib/services/RewardService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="isRewardMembership">
        <part name="parameters" element="tns:isRewardMembership"/>
    </message>
    <message name="isRewardMembershipResponse">
        <part name="parameters" element="tns:isRewardMembershipResponse"/>
    </message>
    <message name="RewardException">
        <part name="fault" element="tns:RewardException"/>
    </message>
    <message name="getProductReward">
        <part name="parameters" element="tns:getProductReward"/>
    </message>
    <message name="getProductRewardResponse">
        <part name="parameters" element="tns:getProductRewardResponse"/>
    </message>
    <message name="getMembershipReward">
        <part name="parameters" element="tns:getMembershipReward"/>
    </message>
    <message name="getMembershipRewardResponse">
        <part name="parameters" element="tns:getMembershipRewardResponse"/>
    </message>
    <message name="removeMembershipReward">
        <part name="parameters" element="tns:removeMembershipReward"/>
    </message>
    <message name="removeMembershipRewardResponse">
        <part name="parameters" element="tns:removeMembershipRewardResponse"/>
    </message>
    <message name="addMembershipReward">
        <part name="parameters" element="tns:addMembershipReward"/>
    </message>
    <message name="addMembershipRewardResponse">
        <part name="parameters" element="tns:addMembershipRewardResponse"/>
    </message>
    <portType name="RewardProvider">
        <operation name="isRewardMembership">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/isRewardMembershipRequest" message="tns:isRewardMembership"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/isRewardMembershipResponse" message="tns:isRewardMembershipResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/isRewardMembership/Fault/RewardException"/>
        </operation>
        <operation name="getProductReward">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/getProductRewardRequest" message="tns:getProductReward"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/getProductRewardResponse" message="tns:getProductRewardResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/getProductReward/Fault/RewardException"/>
        </operation>
        <operation name="getMembershipReward">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/getMembershipRewardRequest" message="tns:getMembershipReward"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/getMembershipRewardResponse" message="tns:getMembershipRewardResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/getMembershipReward/Fault/RewardException"/>
        </operation>
        <operation name="removeMembershipReward">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/removeMembershipRewardRequest" message="tns:removeMembershipReward"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/removeMembershipRewardResponse" message="tns:removeMembershipRewardResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/removeMembershipReward/Fault/RewardException"/>
        </operation>
        <operation name="addMembershipReward">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/addMembershipRewardRequest" message="tns:addMembershipReward"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/addMembershipRewardResponse" message="tns:addMembershipRewardResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/addMembershipReward/Fault/RewardException"/>
        </operation>
    </portType>
    <binding name="RewardProviderPortBinding" type="tns:RewardProvider">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="isRewardMembership">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getProductReward">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getMembershipReward">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeMembershipReward">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="addMembershipReward">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="RewardProviderService">
        <port name="RewardProviderPort" binding="tns:RewardProviderPortBinding">
            <soap:address location="http://localhost:7070/rs-deliveries-wscontrib/services/RewardService"/>
        </port>
    </service>
</definitions>